<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.neowen.apibasedemo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- weibo sdk platform start -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <!-- weibo sdk platform end-->

        <!-- qq platform start -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105067532" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- qq platform end -->

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".support.SupportListA" />
        <activity android:name=".support.ViewDragHelperA" />
        <activity android:name=".design.DesignListActivity" />
        <activity android:name=".design.SwipeBackActivity" />
        <activity android:name=".view.TouchActivity" />
        <activity android:name=".view.ViewListActivity" />
        <activity android:name=".design.CustomDialogActivity" />
        <activity android:name=".view.ListViewAnimationActivity" />
        <activity android:name=".animation.AnimationListActivity" />
        <activity android:name=".animation.ViewPropertyAnimatorActivity" />
        <activity android:name=".media.MediaListActivity" />
        <activity android:name=".media.MediaDatabaseActivity" />
        <activity android:name=".animation.DrawableAnimationActivity" />
        <activity android:name=".view.EmptyListViewActivity" />
        <activity android:name=".performance.PerformanceListActivity" />
        <activity android:name=".performance.MemoryActivity" />
        <activity android:name=".performance.MessageActivity" />
        <activity android:name=".performance.MemoryLeakActivity" />
        <activity android:name=".view.RecyclerViewActivity" />
        <activity android:name=".view.MultipleViewTypeListViewActivity" />
        <activity android:name=".drawable.VectorDrawableActivity" />
        <activity android:name=".drawable.DrawableListActivity" />
        <activity android:name=".sdk.SdkListActivity" />
        <activity android:name=".sdk.QQSdkActivity" />
        <activity android:name=".sdk.WeiboSdkActivity" />


    </application>

</manifest>
